*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
#btn{
    width: 10rem;
    height: 4rem;
    border: none;
    outline: none;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
    border-radius: 1rem;
}
#btn:hover {
    display: block;
    filter:drop-shadow(0 0 10px #57cad0);
    background-color: aquamarine;
    cursor: pointer;
}
